h1{
    font-size: 20px;
    margin-top: 8px;
    text-align: center;
}
.tablesorter-pager .btn-group-sm .btn {
    font-size: 1.2em; 
}  
.container{
    display: flex;
    width: 100%;
}
footer{
    margin-top: 400px;
}
